html, body {
  background: #111111;
  color: #efefef;
  padding: 20px;
  font-family: 'Roboto';
  font-size: 15px;
  height: 100%;
}

a {
  color: #ee0000;
}

div.logo { 
    text-align: center;
}

div#tagline { 
    width: 70%;
    color: #b1b1b1;
}

div#tagline span { 
    font-weight: bold;
    
}

img#logo {
    width: 100%;
}

div.below-the-fold { 
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e8e8e8;
}

div.blurb-what { 
    width: 30%;
    text-align: right;
    font-size: 12px;
    font-style: italic;
    padding: 20px;
}

div.blurb-who { 
    width: 30%;
    text-align: left;
    font-size: 12px;
    font-style: italic;
    padding: 20px;
}

div.footer { 
  margin: 0 auto;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e8e8e8e;
  font-size: 12px;
}

div.footer a { 
  padding-left: 30px;
  padding-left: 30px;
  color: #8e8e8e8e;
}

.btn-primary { 
    background-color: #112255;
    border-color: #112255;
    color: #efefef;
    margin-top: 10px;
}

