body {
  background: #222222;
  color: #eeeeee;
  font-size: 80%;
  padding: 20px;
  font-family: 'Roboto';
  font-size: 15px;
}

div.parent {
  background: #222222;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

div.hero {
  background: #222222;
  width: 50%;
  padding: 20px;
  overflow: auto;
  text-align: center;
}

div#tagline { 
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px; 
    color: #8e8e8e8e;
}

div#tagline span { 
    font-weight: bold;
    
}

img#logo {
    width: 70%;
}

div.below-the-fold { 
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e8e8e8e;
}

div.blurb-what { 
    width: 30%;
    text-align: right;
    font-size: 12px;
    font-style: italic;
    padding: 20px;
}

div.blurb-who { 
    width: 30%;
    text-align: left;
    font-size: 12px;
    font-style: italic;
    padding: 20px;
}

div.footer { 
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e8e8e8e;
  font-size: 12px;
}

div.footer a { 
  padding-left: 30px;
  padding-left: 30px;
  color: #8e8e8e8e;
}

